
#swiper {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.slider {
    position: absolute;
    /* margin: 3rem; */
}

#one {
    width:37.5rem;
    /* width: 24rem; */
    height: 32.25rem;
}

#two {
    width:37.5rem;
    height:40.5rem;
    left: 50%;
}

#three {
    width:37.5rem;
    /* width: 24rem; */
    height: 32.25rem;
}