
#wrapper {
    background-color: #FFEAE0 !important;
    background-image: url('/public/header/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -13rem;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    position: relative;
 }

 @media (max-width:1500px) {
   #wrapper {
      background-position: 0rem -5rem;
   }
 }

 #title {
   font-size: 12.5rem;
   line-height: 90%;
   color: #47153D;
   position: relative;
   text-align: center;
}

#fest {
   color:#FA7783;
   position:absolute;
   bottom:-8rem;
   z-index: 1;
   left:50%;
   transform: translateX(-50%);
}

#subTitle {
   color: #47153D;
   font-size: 1.25rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}

#right {
   position: absolute;
   z-index: 1;
   top: -6rem;
   right:-24%;
}

#radio {
   position: absolute;
   z-index: 1;
   bottom: -12rem;
   right:-50%;
}

#keys {
   position: absolute;
   z-index: 1;
   bottom: 0rem;
   right:-55%;
}

#left {
   position: absolute;
   z-index: 1;
   bottom: -14rem;
   left: -36%;
}

#dog {
   position: absolute;
   z-index: 1;
   bottom: -18rem;
   left: -50%;
}

#line {
   position: absolute;
   z-index: 1;
   bottom: 5rem;
   left: -65%;
}

#star {
   position: absolute;
   z-index: 1;
   top: -1rem;
   left: -40%;
}

#flowers {
   position: absolute;
   z-index: 1;
   top: -5rem;
   left: 45%;
}

#inter {
   font-family: 'Open Sans', sans-serif;
   position: absolute;
   z-index: 6;
   top: 10.5rem;
   left: 33%;
   color: #47153D;
   font-size: 1.25rem;
   font-weight: 600;
   background-color: white;
   width: 9.3rem;
   height: 2.3rem;
   border-radius: 0.75rem;
   border: 1px solid #47153D;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: rotate(-16deg);
}

#music {
   font-family: 'Open Sans', sans-serif;
   position: absolute;
   z-index: 6;
   top: 11.5rem;
   left: 57%;
   color: #47153D;
   font-size: 1.25rem;
   font-weight: 600;
   background-color: white;
   width: 5.3rem;
   height: 2.3rem;
   border-radius: 0.75rem;
   border: 1px solid #47153D;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: rotate(2deg);
}

#date {
   font-family: 'Open Sans', sans-serif;
   color:#47153D;
   position:absolute;
   bottom:-10rem;
   z-index: 1;
   left:50%;
   transform: translateX(-50%);
   font-weight: 700;
   font-size: 1.8rem;
   white-space: nowrap;
}