#wrapper {
    background-color: #FFEAE0;
}

#flex {
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   background-color: #FA7783;
   width: 24.375rem;
   height: 11.25rem;
   border-radius: 2.5rem;
   
}

.box h2 {
    font-size: 3.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 700;
}

.box h3 {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#second {
    border-radius: 7.5rem;
    background-color: white;
    color: #6C7DEE;
}

#third {
    border-radius: 7.5rem;
    background-color: white;
    color:#F28E66;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 11rem;
}

#text {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #47153D;
    max-width: 50rem;
    padding-left: 25rem;
    position: relative;
}

#enjoy {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:white;
    background-color: #ECAE4B;
    border-radius: 1rem;
    padding: 0.6rem 0.5rem;
}

#gro {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:white;
    background-color: #6C7DEE;
    border-radius: 1rem;
    padding: 0.6rem 0.5rem;
}

#girl {
    position: absolute;
    left: 0;
    top: -20rem;
    left: -65%;
}

#star {
    position: absolute;
    right: 8%;
    top: 19rem;
}