#wrapper {
    background-color: #FFEAE0;
}

#flex {
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   background-color: #FA7783;
   max-width: 24.375rem;
   width: 100%;
   height: 11.25rem;
   border-radius: 2.5rem;
   
}

.box h2 {
    font-size: 3.25rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 700;
}

.box h3 {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#second {
    border-radius: 7.5rem;
    background-color: white;
    color: #6C7DEE;
}

#third {
    border-radius: 7.5rem;
    background-color: white;
    color:#F28E66;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 11rem;
}

#text {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #47153D;
    max-width: 50rem;
    padding-left: 25rem;
    position: relative;
}

#enjoy {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:white;
    background-color: #ECAE4B;
    border-radius: 1rem;
    padding: 0.6rem 0.5rem;
}

#gro {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:white;
    background-color: #6C7DEE;
    border-radius: 1rem;
    padding: 0.6rem 0.5rem;
}

#girl {
    position: absolute;
    left: 0;
    top: -20rem;
    left: -65%;
}

#star {
    position: absolute;
    right: 8%;
    top: 19rem;
}

@media (max-width:1350px) {
    .box {
       max-width: 18rem;
       width: 100%;
       height: 10rem;
       border-radius: 2.5rem;
    }
    #girl {
        position: absolute;
        left: 0;
        top: -20rem;
        left: -60%;
    }
    #text {
        font-size: 2rem;
        max-width: 35rem;
        padding-left: 30rem;
        position: relative;
        line-height: 3.5rem;
    }
    #enjoy {
        font-size: 2rem;

    }
    
    #gro {
        font-size: 2rem;

    }
}

@media (max-width:1200px) {
    .box {
       max-width: 18rem;
       width: 100%;
       height: 10rem;
       border-radius: 2.5rem;
    }
    #girl {
        position: absolute;
        left: 0;
        top: -20rem;
        left: -60%;
    }
}

@media (max-width:1000px) {
  #content {
    justify-content: flex-start;
    padding-top: 4rem;
  }
    #text {
        padding-left: 2rem;
        max-width: 70%;
  }
  #imagesWrapper {
    position: relative;
    margin-top: 8rem;
  }
  #girl {
    top: -20rem;
    left: -40rem;
}
#star {
    top: 10rem;
}
#flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    margin-bottom: 2rem;
}
}



@media (max-width:950px) {
    #wrapper {
        margin-top:20rem ;
    }
}